@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&display=swap');

* {
    font-family: 'Poppins', sans-serif;    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Navbar Container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b6771d;
    padding: 15px 50px;
}

/* Logo Section */
.Logo {
    display: flex;
    align-items: center;
    gap: 10px;
}



.Logo h1 {
    color: rgb(0, 0, 0);
    font-size: 22px;
    letter-spacing: 6px;
    font-family: "BBH Sans Bogle";
    font-weight: 600;
}

/* Nav Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
}

/* Hover Effect */
.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #fcfcfc;
    transition: width 0.3s ease;
}

.nav-links a:hover {
    color: #000000;
}

.nav-links a:hover::after {
    width: 100%;
}
 
.hero {
    background-color: #ffffff;
    text-align: left;
    display: flex;
    align-items: center;


}
.content {
    justify-content: flex-start;
}

.hero-content{
    background-color: #ffffff;
    color: #000000;
    padding: 150px;
    width: 80vh;
    height: 100vh;
    text-align: center;
}


.special-text h2{
    font-family: Segoe UI;




}
.hero-content h2 {
    font-family: BBH Sans Bogle;
    font-size: 50px;
    color: #eb8080;
}